@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body {
	background: url("movie bg.png") no-repeat fixed top right;
}
form {
  border-radius: 5px;
  background-color:rgba(240,107,119,1.00);
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color:rgba(238,180,185,1.00);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.main-navigation {
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px rgba(237,124,134,1.00);
	font-family: sans-serif;
	}
.main-navigation ul {
	margin: 0;
}
.main-navigation ul li {
	display: inline-block;
}
.main-navigation ul li a {
	padding: 17px 37px;
	text-decoration: none;
	display: inline-block;
	color:white;
}
.main-navigation ul li a:hover {
	text-decoration:underline;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}