@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body {
	background: url("movie bg.png") no-repeat fixed top right;
}
container {
	width: 800px;
	margin: 0 auto;
}
.left {
	width: 380px;
	height: 200px;
	background-color: rgba(233,118,127,1.00);
	border-radius: 20px;
	float: left;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.main-navigation {
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px rgba(237,124,134,1.00);
	font-family: sans-serif;
	}
.main-navigation ul {
	margin: 0;
}
.main-navigation ul li {
	display: inline-block;
}
.main-navigation ul li a {
	padding: 17px 37px;
	text-decoration: none;
	display: inline-block;
	color:white;
}
.main-navigation ul li a:hover {
	text-decoration:underline;
}