@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}


body{
	background:url("movie bg.png") no-repeat fixed top right;
}
#container{
width: 800px;
	margin: 0 auto;
	background-color:rgba(246,190,194,.6);
}
.left{
	width:380px;
	height:200px;
	background-color:rgba(232,85,97,0.50);
	border-radius: 25px;
	float: left;
	margin: 0px 10px 0px 15px;
	padding: 30px 30px 30px 30px;
	border: solid rgba(244,167,173,1.50);
	visibilty: hidden;
}

.right{
	width:380px;
	height:200px;
	background-color:rgba(232,85,97,0.50);
	border-radius: 25px;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 30px 30px 30px 30px;
	border: solid rgba(244,167,173,2.00);
}
footer{
	background-color:rgba(235,104,115,.50);
	clear: both;
}
header > h1{
	text-align: center; 
	color: #fff;
}
.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}
		table, th, td {
		  border: 2.5px solid pink;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
	th {
  background-color: #FB79E6;
  color: white;
}
		tr:nth-child(even) {
  background-color: #FBCAE9;
}
		ul {
  background:#FFC5E7;
  padding: 20px;
}
		ul li {
  background:#FF45CC;
  color: white;
  margin: 5px;
}
		ol {
			background:#F617E1;
				padding: 15px;
		}
		ol li {
			color:white;
			margin: 5px;
			}