@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body {
	background: url("movie bg.png") no-repeat fixed top right;
}
#container {
    width: 900px;
    margin: 0 auto; 
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.h1 {
    color: white;
    font-family: "Lucida Grande";
    font-size: 30px;
    text-align: center;
}
.main-navigation {
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px rgba(237,124,134,1.00);
    font-family: sans-serif;
    text-align: center; /* THIS centers inline-block items */
    margin-top: 10px;
}

.main-navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.main-navigation ul li {
    display: inline-block; /* SAME AS GOOD ONE */
}

.main-navigation ul li a {
    padding: 17px 37px; /* SAME spacing as good one */
    text-decoration: none;
    display: inline-block;
    color: white;
}

.main-navigation ul li a:hover {
    text-decoration: underline;
}


.h1 {
	color:rgba(255,255,255,1.00);
	font-family:"Lucida Grande";
	font-size: 30px;
	text-align: center;
}

.form-container {
  width: 90%;
  margin: auto;
  padding: 20px 40px;
  background: rgba(255, 170, 175, 0.85);
  border-radius: 15px;
}

.form-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.left-section, .right-section {
  width: 48%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  background: #d8d8d8;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

textarea {
  height: 300px;
  resize: none;
}
.genres {
    width: 100%;
}

.genre-row {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 15px;
}

.genre-row label {
    display: flex;
    align-items: center;
    gap: 6px;
}


.graphic-center {
  text-align: center;
  margin: 25px 0;
	margin-top: -40px;
}

.graphic-center img {
  width: 600px;   
}

button {
  display: block;
  margin: 0 auto;
  background: #FFD1A1;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.footer {
    background: #E87A84;
    padding: 15px 0;
    margin-top: 40px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-content p {
    color: white;
    margin: 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
}